.Rproj.user/
.idea/
src/RcppExports.cpp
R/RcppExports.R
.Rhistory
*.tar.gz
*.Rproj
*.html
*.gif
*.so
*.o
*.uwot
*.rds

# For now
# TODO: unignore data/*.rds
data/
man/
drafts/

!inst/figures/figures/
inst/figures/figures/*
!inst/figures/7_partial/data_used/
inst/figures/7_partial/data_used/*
